@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/eurostile-extended');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto+Condensed:wght@300;400;700&display=swap');

/*-----------------------------GENERAL CONFIGURATION-----------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

@media screen and(prefers-reduce-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

.logo-position {
    position: absolute;
    z-index: 20;
    padding: 175px;
}

::-webkit-scrollbar {
    width: 12px;
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #880808;
    border-radius: 6px;
}




/*-----------------------------BACKGROUND VIDEO FORMAT-----------------------------------*/

body #Video-Background {

    z-index: 0 !important;
    background-attachment: fixed;
    color: black;
}

.Format-Video-Box {
    color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    visibility: visible;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 0;
    border: none;
}

/*-----------------------------OLD GAME TRIBUTE LOGO-----------------------------------*/

.back-text {
    width: max-content;
    position: relative;
    left: 33%;
    transform: translate(-50%, -50%);
}

.back-text span {
    display: inline-block;
    font-size: 45px;
    font-weight: 700;
    -webkit-text-stroke: 1px rgba(116, 251, 172, 1);
    -webkit-text-fill-color: transparent;
    transform: translateY(50px);
    opacity: 0;
    transition: transform 1s, opacity 0.5s;
}

.back-text span.active {
    transform: translateY(0px);
    opacity: 1;
}

.back-text span:nth-child(1) {
    transition-delay: 0, 5s;
}

.back-text span:nth-child(2) {
    transition-delay: 1s;
}

.back-text span:nth-child(3) {
    transition-delay: 1.5s;
}

.back-text span:nth-child(4) {
    transition-delay: 2s;
}

.back-text span:nth-child(5) {
    transition-delay: 2.5s;
}

.back-text span:nth-child(6) {
    transition-delay: 3s;
}

.back-text span:nth-child(7) {
    transition-delay: 3.5s;
}

.logo {
    text-transform: uppercase;
    cursor: pointer;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    color: white;
    z-index: 1;
    transition: 0.5s;
}

.showcase.active {
    right: 300px;
}

.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 900;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 798px) {

    .showcase,
    .showcase header {
        padding: 40px;
    }

    .text-principal-page h2 {
        font-size: 3em;
    }

    .text-principal-page h3 {
        font-size: 2em;
    }
}

/*-----------------------------INITIAL PAGE MENU-----------------------------------*/

.Initial-page {
    color: #fff;
    -webkit-text-size-adjust: 100%;
    visibility: visible;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    width: 100%;
    height: calc(100vh + 100px);
    overflow: hidden;
    background: rgba(0, 0, 0, .7);
}

.nav-top {
    position: absolute;
    padding: 340px 200px 200px 198px;
    z-index: 20;
    font-family: 'Oswald', sans-serif;
}

.nav-top ul {
    list-style: none;
}

.nav-top li {
    -webkit-text-size-adjust: 100%;
    visibility: visible;
    list-style: none;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    margin: 0 0 2vh;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-size: 2.3rem;
    font-weight: lighter;
    text-shadow: 0 0 5px #000, 0 0 5px #000, 0 0 5px #000;
    line-height: 1;
    transition: opacity .3s linear 0.4s, transform .3s ease-out 0.4s;
    opacity: 1;
    transform: translateX(0);
}

.nav-top li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.nav-top li a:hover {
    color: rgb(202, 7, 7);
    font-size: 35px;
}

.underline-hover-efect {
    padding-bottom: 0.25rem;
    position: relative;
}

.underline-hover-efect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #880808;
    transition: width 0.25s ease-out;
}

.underline-hover-efect:hover::before {
    width: 100%;
    left: 0;
    right: auto;
}

/*-----------------------------UMBRELLA CORP: BANNER-----------------------------------*/

.banner-Umbrella {
    color: #fff;
    -webkit-text-size-adjust: 100%;
    visibility: visible;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 224.5px;
    border-top: 1px solid #111;
    background: linear-gradient(to right, black 25%, #880808 75%);
    align-content: center;
    z-index: 2;
}

.banner-Umbrella img {
    -webkit-text-size-adjust: 100%;
    list-style: none;
    pointer-events: none;
    color: #fff;
    width: 769.5px;
    aspect-ratio: auto 2200px / 263;
    height: 224.5px;
    margin: 0px 0px 0px 30px;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    float: left;
}

.banner-Umbrella h6 {
    font-family: 'Eurostile Extended', sans-serif;
    margin-top: 80px;
    margin-right: 100px;
    color: white;
    font-weight: bold;
    font-size: 60px;
    float: right;
    font-style: italic;
}

/*-----------------------------CONTENT SECTIONS AND GAME SECTION-----------------------------------*/

.contents-page {
    color: #fff;
    -webkit-text-size-adjust: 100%;
    visibility: visible;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    padding: 0;
    background: transparent;
    width: 100%;
}

.contents-page .section-games {
    color: #fff;
    -webkit-text-size-adjust: 100%;
    visibility: visible;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    width: 100%;
    padding: 120px 0 80px;
    background: rgba(0, 0, 0, .7);
    border-bottom: 1px solid #3a3a3a;
    overflow: hidden;
    background: rgba(0, 0, 0, .7);
}

.contents-page .section-games .inner-game {
    color: #fff;
    -webkit-text-size-adjust: 100%;
    visibility: visible;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1190px;
    margin: 0 auto;

}

.contents-page .section-games .inner-game h3 {
    -webkit-text-size-adjust: 100%;
    visibility: visible;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    margin: 0 0 2vh;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: .05em;
    text-shadow: 0 0 5px #000;
    transition: opacity .6s, transform .6s ease-out;
    opacity: 1;
    transform: translateY(0);
}

.contents-page .section-games .inner-game h3 span {
    -webkit-text-size-adjust: 100%;
    visibility: visible;
    text-shadow: 0 0 5px #000;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: block;
    margin: 2px 0 0 6px;
    color: #e7e7e7;
    font-family: "Oswald", serif;
    font-size: 1.0rem;
    line-height: 2;
    letter-spacing: 0em;
}

.game-images {
    color: #fff;
    -webkit-text-size-adjust: 100%;
    visibility: visible;
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    position: relative;
    width: 100%;
    height: 500px;
    transition: opacity 1s linear .4s, left 1s ease-out .4s;
    opacity: 1;
    background: transparent;
}

/*----------------------------------------HISTORY SECTION------------------------------------------*/

.history-section {
    color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    visibility: visible;
    margin: 0px;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    border-bottom: 1px solid #3a3a3a;
    background: #000;
    width: 100%;


}

.history-section {
    background-image: url("Images-video/Resident-Evil/Spencer-manor.jpg");
    background-repeat: no-repeat;
    z-index: 0 !important;
    background-attachment: fixed;
    color: black;
    background-size: cover;
}

.history-section .inner-history {
    color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    visibility: visible;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    width: 100%;
    padding: 165px 0 225px;
    transition: opacity 1s, transform 1s;
    opacity: 1;
    transform: scale(1);
}

.history-section .inner-history .title-section {
    color: #fff;
    -webkit-text-size-adjust: 100%;
    visibility: visible;
    font: inherit;
    vertical-align: baseline;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: calc(50% + 110px);
    margin: 0 0 2vh;
}

.history-section .inner-history .title-section h3 {
    -webkit-text-size-adjust: 100%;
    visibility: visible;
    font: inherit;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: block;
    position: relative;
    margin: 0 0 2vh;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: .05em;
    text-shadow: 0 0 5px #000;
    opacity: 1;
}

.history-section .inner-history .title-section h3 span {
    -webkit-text-size-adjust: 100%;
    visibility: visible;
    font: inherit;
    vertical-align: baseline;
    display: block;
    width: 690px;
    margin: 2px 0 0 6px;
    color: #e7e7e7;
    font-family: "Oswald", serif;
    font-size: 1.0rem;
    line-height: 2;
    text-shadow: 0 0 5px #000;
    letter-spacing: 0em;
}

/*----------------------------------------CHARACTER SECTION------------------------------------------*/

.characters-section {
    color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    visibility: visible;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: block;
    width: 100%;
    padding: 120px 0 80px;
    border-bottom: 1px solid #3a3a3a;
    overflow: hidden;
    position: relative;
}

.characters-section .inner-characters {
    color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    visibility: visible;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1190px;
    margin: 0 auto;
}

.characters-section .inner-characters .title-section-ch {
    color: #fff;
    -webkit-text-size-adjust: 100%;
    visibility: visible;
    font: inherit;
    vertical-align: baseline;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: calc(50% + 110px);
    margin: 0 0 2vh;
}

.characters-section .inner-characters .title-section-ch h3 {
    -webkit-text-size-adjust: 100%;
    visibility: visible;
    font: inherit;
    vertical-align: baseline;
    display: block;
    position: relative;
    margin: 0 0 2vh;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: .05em;
    text-shadow: 0 0 5px #000;
    opacity: 1;
}

.characters-section .inner-characters .title-section-ch h3 span {
    -webkit-text-size-adjust: 100%;
    visibility: visible;
    font: inherit;
    vertical-align: baseline;
    display: block;
    width: 690px;
    margin: 2px 0 0 6px;
    color: #e7e7e7;
    font-family: "Oswald", serif;
    font-size: 1.0rem;
    line-height: 2;
    text-shadow: 0 0 5px #000;
    letter-spacing: 0em;
}

.slider-ch {
    position: relative;
    background: transparent;
    width: 800px;
    min-height: 500px;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
}

.slider-ch .slide-ch {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
}

.slider-ch .slide-ch.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s;
}

.slider-ch .slide-ch img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-ch .slide-ch .info-ch {
    position: absolute;
    color: #222;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    width: 100%;
    margin-top: 352px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
    color: white;
}

.slider-ch .slide-ch .info-ch h2 {
    font-size: 2em;
    font-weight: 800;
}

.slider-ch .slide-ch .info-ch h2 span {
    color: rgb(230, 11, 11);
}

.slider-ch .slide-ch .info-ch p {
    font-size: 20px;
    font-weight: 400;
}

.navigation-ch {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.9s ease;
}

.slider-ch:hover .navigation-ch {
    opacity: 1;
}

.prev-btn,
.next-btn {
    z-index: 999;
    font-size: 2em;
    color: #222;
    background: rgba(136, 8, 8, 0.8);
    padding: 10px;
    cursor: pointer;
    color: white;
}

.prev-btn {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.next-btn {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.navigation-visibility {
    z-index: 999;
    display: flex;
    justify-content: center;
}

.navigation-visibility .slide-icon {
    z-index: 999;
    background: rgba(255, 255, 255, 0.5);
    width: 20px;
    height: 10px;
    transform: translateY(-50px);
    margin: 0 6px;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.navigation-visibility .slide-icon.active {
    background: #4285F4;
}

@media (max-width: 900px) {
    .slider-ch {
        width: 100%;
    }

    .slider-ch .slide-ch .info-ch {
        position: relative;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 500px) {
    .slider-ch .slide-ch .info-ch h2 {
        font-size: 1.8em;
        line-height: 40px;
    }

    .slider-ch .slide-ch .info-ch p {
        font-size: 0.9em;
    }
}

/*----------------------------------------BIO-WEAPON SECTION------------------------------------------*/

.bioweapon-section {
    color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    visibility: visible;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: block;
    width: 100%;
    padding: 120px 0 80px;
    border-bottom: 1px solid #3a3a3a;
    overflow: hidden;
    position: relative;
}

.bioweapon-section {
    background-image: url("Images-video/Resident-Evil/Wallpaper-RE2.1080.jpg");
    background-repeat: no-repeat;
    z-index: 0 !important;
    background-attachment: fixed;
    color: black;
    background-size: cover;
}

.bioweapon-section .inner-bioweapon {
    color: rgb(255, 255, 255);
    text-size-adjust: 100%;
    visibility: visible;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1190px;
    margin: 0 auto;
}

.bioweapon-section .inner-bioweapon .title-section-bow {
    color: #fff;
    -webkit-text-size-adjust: 100%;
    visibility: visible;
    font: inherit;
    vertical-align: baseline;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: calc(50% + 110px);
    margin: 0 0 2vh;
}

.bioweapon-section .inner-bioweapon .title-section-bow h3 {
    -webkit-text-size-adjust: 100%;
    visibility: visible;
    font: inherit;
    vertical-align: baseline;
    display: block;
    position: relative;
    margin: 0 0 2vh;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: .05em;
    text-shadow: 0 0 5px #000;
    opacity: 1;
}

.bioweapon-section .inner-bioweapon .title-section-bow h3 span {
    -webkit-text-size-adjust: 100%;
    visibility: visible;
    font: inherit;
    vertical-align: baseline;
    display: block;
    width: 690px;
    margin: 2px 0 0 6px;
    color: #e7e7e7;
    font-family: "Oswald", serif;
    font-size: 1.0rem;
    line-height: 2;
    text-shadow: 0 0 5px #000;
    letter-spacing: 0em;
}

/*=======================================FOOTER==========================================*/

.end-page {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 45%, rgba(136,8,8,1) 80%);
    height: 80px;
    z-index: 100;
    color: white;
    
}